/*
    Spark Customizable style sheet conventions
    %1 : Global background color
    %2 : Controls background color
    %3 : Controls background color highlighted
    %4 : Selection/Activation background color
    %5 : Selection/Activation background color hightlighted
    %6 : Light controls gradient light
    %7 : Light controls gradient dark
    %8 : Light controls gradient darker
    %9 : Dark controls gradient light
    %10: Dark controls gradient dark
    %11: Text on Selection/Activation
    %12: Text on Global background
    %13: Text on controls background
*/

QWidget
{
    background-color: %1
}

QTreeWidget[objectName=spk_mw_category]
{
    border: none;
    font-size: 14px;
    show-decoration-selected: 1;
}

QTreeWidget[objectName=spk_mw_category]::item
{
    height: 35px;
    border: none;
    color: %13;
}

QTreeWidget[objectName=spk_mw_category]::item:selected
{
    color: %11;
    background-color: %4;
}

QTreeWidget[objectName=spk_mw_category]::branch:selected
{
    background-color: %4;
}

QLabel
{
    font-size: 14px
}

QScrollArea
{
    border-width: 1px;
    border-radius: 5px;
}

QPushButton
{
    border-width: 1px;
    padding: 2px;
    border-radius: 11px;
    font-size: 14px;
    font-weight: 300;
    border-top-color: #7b7b7b;
    border-style: solid;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 %6, stop:1 %7)
}

QPushButton::pressed
{
    border-top-color: #656565;
    border-bottom-color: #7b7b7b;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 %8, stop:1 %6)
}

QPushButton[objectName=spk_styling_checkbtn]
{
    border-width: 0px;
    background-color: %9
}

QPushButton[objectName=spk_styling_checkbtn]:pressed
{
    background-color: %5
}

QPushButton[objectName=spk_styling_checkbtn]:checked
{
    background-color: %4
}

QPushButton[objectName=spk_styling_plaincheckbtn]
{
    border-width: 0px;
    background-color: %1
}

QPushButton[objectName=spk_styling_plaincheckbtn]:pressed
{
    background-color: %5
}

QPushButton[objectName=spk_styling_plaincheckbtn]:checked
{
    background-color: %4
}

SpkTitleBar
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 %10, stop:1 %9)
}

SpkTitleBarDefaultButton
{
    margin: 0px;
    border-radius: 0px;
    border-width: 0px;
    background-color: %2;
}

SpkTitleBarDefaultButton:hover
{
    background-color: %9;
}

SpkTitleBarDefaultButton:pressed
{
    background-color: %8;
}

SpkTitleBar, QWidget[objectName="spk_mw_"]

QScrollBar::handle
{
    border: 0px;
    border-radius: 5px;
    background-color: #606060
}
QScrollBar::horizontal{height: 10px}
QScrollBar::vertical{width:10px}

QScrollBar::handle:hover
{
    background-color: #606060
}
